{% extends "base.html" %}

{% block content %}

    <div class="content-text">

        <p>
            Meus interesses variados basicamente me definem: gosto de aprender coisas novas sobre várias áreas.
            Por isso, coloquei aqui uma página com assuntos do meu interesse, visando me apresentar e não me exibir.
        </p>

        <div class="interest-list">

            <div class="interest-block">

                <img src="/static/finance-icon.png">

                <h2>
                    Finanças
                </h2>

                <p>
                    Meu <i>core business</i> profissional situa-se na área financeira. Adoro economia,
                    <i>valuation</i>, modelagem financeira, mercado financeiro, governanças corporativa, controladoria e muitos outros tópicos relacionados.
                </p>

            </div>

            <div class="interest-block">

                <img src="/static/it-icon.png">

                <h2>
                    TI
                </h2>

                <p>
                    Outro pacote de habilidades profissionais está na TI. Tenho conhecimentos de desenvolvimento frontend e backend, fundamentos de redes de computadores, cybersegurança e pacote Office avançado (principalmente Excel).
                </p>

            </div>

            <div class="interest-block">

                <img src="/static/emergency-icon.png">

                <h2>
                    Emergência
                </h2>

                <p>
                    Alguns dos tópicos que já estudei nessa área são APH e SBV, controle de hemorragias com torniquete tático e preenchimento de lesões perfurocortantes, prevenção e combate a incêndios, dentre outros.
                </p>

            </div>

            <div class="interest-block">

                <img src="/static/hobbies-icon.png">

                <h2>
                    Hobbies
                </h2>

                <p>
                    Por fim, outras coisas que me interessam são praticar motociclismo, fazer leitura de livros técnicos, ouvir e tocar música (prncipalmente <i>metal</i>), praticar defesa pessoal e artes marciais, fazer trabalhos manuais e caminhar.
                </p>

            </div>

        </div>

    </div>
{% endblock %}