{% extends "base.html" %}

{% block content %}

    <div class="content-text">

        <p>
            Meu nome é Gabriel Barreiro, moro no Rio Grande do Sul e tenho 19 anos de idade. Adoro finanças, economia, tecnologia da informação e <i>data science</i> (neste último sou iniciante ainda).
            Minha atuação profissional é no mercado financeiro.
        </p>

        <img class="profile" src="/static/perfil_azul.jpg">

        <p>
            Criei esse website com as seguintes finalidades:
        </p>

        <ul>
            <li class="rectangle">
                Disponibilizar recursos quaisquer do meu interesse
            </li>
            <li class="rectangle">
                Fornecer referência pessoal de fácil acesso
            </li>
            <li class="rectangle">
                Testar minhas habilidades de TI
            </li>
        </ul>

        <p>
            Sinta-se a vontade para falar comigo por e-mail ou redes sociais (desde que não me envie spam). Para fazer isso, basta clicar nos ícones lá no topo.
        </p>

    </div>
{% endblock %}
